<header>
    <nav class="navbar navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="/"> <img src="/public/assets/images/logo_header.jpg" alt="logo"> </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="logout">Logout</button>
            </li>
        </ul>
    </nav>
</header>

<main>
    <h2>Edit my Story</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-4">

            </div>
            <div class="col-sm-10 col-md-8 col-lg-4">
                <form action="" class="edit-post-form">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Story Title</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="post-title"
                            value="{{post.story_title}}" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Story Body</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"
                            name="post-body">{{post.story_body}}</textarea>
                    </div>
                    <button type="button" class="btn btn-outline-success">Save</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
            <div class="col-sm-1 col-md-2 col-lg-4">
                <div>
                    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment"
                        post.comments.length}}</a>
                </div>
                <form action="" class="comment-form">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Add Comments</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"
                            name="comment-body"></textarea>
                    </div>
                    <button type="button" class="btn btn-outline-success">Submit</button>
                </form>
                {{> comments post.comments}}
            </div>
        </div>
    </div>
</main>

<script src="/javascript/edit-story.js"></script>
<script src="/javascript/delete-story.js"></script>
<script src="/javascript/comment.js"></script>