<header>
    <nav class="navbar navbar-expand-sm justify-content-between">
        <a class="navbar-brand" href="/"> <img src="/assets/images/logo_header.gif" alt="logo"> </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="logout">Logout</button>
            </li>
        </ul>
    </nav>
</header>

<main>
    
    <div class="container text-center">
        <h2>Edit my Budget</h2>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <form action="" class="">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Budget Title</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="budget-title"
                            value="{{budget.budget_title}}" />
                    </div>
                    <div class="form-group">
                       <div class="row form-group">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h4>Income</h4>
                <table class="table income-table" id="income-table">
                        <thead>
                            <tr>
                            <th scope="col">Source</th>
                            <th scope="col">Receipt</th>
                            <th scope="col">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input type="text" class="form-control" id="income-source" name="income-source" value="{{budget.income_source}}"/>  
                                </th>
                                <td>
                                    <input type="text" class="form-control" id="income-receipt" name="income-receipt" value="{{budget.income_receipt}}"/> 
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="income-remark" name="income-remark" value="{{budget.income_remark}}"/> 
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                     <!--<button type="button" id="addRowIncome">Add Income</button> -->
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h4>Expense</h4>                
                    <table class="table expense-table">
                        <thead>
                            <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input type="text" class="form-control" id="expense-item" name="expense-item" value="{{budget.expense_item}}"/>  
                                </th>
                                <td>
                                    <input type="text" class="form-control" id="expense-payment" name="expense-payment" value="{{budget.expense_payment}}"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="expense-comment" name="expense-comment" value="{{budget.expense_comment}}"/>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div> 
                    </div>
                    <button type="button" class="btn btn-outline-success edit-budget-form">Save</button>
                    <button type="button" class="btn btn-outline-danger delete-budget-btn">Delete</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="/javascript/edit-budget.js"></script>
<script src="/javascript/delete-budget.js"></script>
<script src="/javascript/logout.js"></script>